#SignIn {
    position: fixed;
    left: 30%;
    right: 30%;
    top: 30%;
}

#SignInButton {
    position: fixed;
    right: 46.95%;
    top: 45%;
}

h2 {
    text-align: center;
    font-size: 2vw;
}

body {
    background-image: url('LehmanHs.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
