#Top {
    background-color: #e7eef8;
    margin-bottom: 20px;
    border: solid;
    border-color: #dce6f2;
}

h2 {
    text-align:center;
    font-size:26px;
}

body {
    background-image: url('LehmanHs.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}