#Top {
    background-color: #e7eef8d9;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 90%;
    border: solid;
    border-color: #dce6f2;
}

#Assignments {
    background-color: #e7eef8d9;
    border: solid;
    position: fixed;
    border-color: #dce6f2;
    left: 3.125%;
    right: 55.2%;
    top: 15%;
    bottom: 1%;
}

#Schedule {
    background-color: #e7eef8d9;
    border: solid;
    position: fixed;
    border-color: #dce6f2;
    right: 3.125%;
    left: 55.2%;
    top: 15%;
    bottom: 46%;
}

#Teachers {
    background-color: #e7eef8d9;
    border: solid;
    position: fixed;
    border-color: #dce6f2;
    right: 3.125%;
    left: 55.2%;
    top: 60%;
    bottom: 1%;
}
#SignOut {
    position: fixed;
    right: 95%;
    top: 7.5%;
}

h2 {
    text-align: center;
    font-size: 26px;
}

h3 {
    text-align: center;
}

body {
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
