#Top {
    background-color: #e7eef8d9;
    margin-bottom: 20px;
    border: solid;
    border-color: #dce6f2;
}

#Assignments {
    background-color: #e7eef8d9;
    margin-bottom: 20px;
    border: solid;
    position: fixed;
    border-color: #dce6f2;
    left: 60px;
    right: 1060px;
    top: 350px;
}

h2 {
    text-align:center;
    font-size:26px;
}

h3 {
    text-align:center;
}

body {
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}